.version.index /* version checker */
{
	color: #0000ED;
	background-color: #5A4D69;
}

#page
{
	z-index: 1;
	min-height: 500px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#pu5086
{
	z-index: 3;
	margin-right: -10000px;
	width: 100%;
}

#u5086
{
	z-index: 3;
	min-height: 82px;
	background-color: #2E82AF;
	padding-bottom: 18px;
}

#u5086_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	max-width: 960px;
}

#u5242
{
	z-index: 19;
	width: 193px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 2.09%;
}

#buttonu5594
{
	z-index: 21;
	border-color: #787878;
	background-color: #666666;
	border-radius: 10px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	width: 15.94%;
	left: 81.98%;
}

#buttonu5594.ButtonSelected
{
	background-color: #666666;
	min-height: 0px;
	width: 15.94%;
	margin: 32px -10000px 0px 0%;
}

#u5595-4
{
	z-index: 22;
	min-height: 18px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	width: 100%;
}

#buttonu5594.ButtonSelected #u5595-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 100%;
	margin: 9px -10000px 0px 0%;
}

#buttonu5594.ButtonSelected #u5595-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u5086-bw
{
	z-index: 3;
	min-height: 82px;
}

#pu5077
{
	z-index: 2;
	width: 100%;
}

#u5077
{
	z-index: 2;
	background-color: #F5F5F5;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u5077 .fluid_height_spacer
{
	padding-bottom: 53.95833333333333%;
}

#pamphletu5095
{
	z-index: 4;
	position: relative;
	margin-right: -10000px;
	width: 95.84%;
	left: 2.09%;
}

#u5096
{
	position: absolute;
	background-color: transparent;
	width: 100%;
}

#u5096popup
{
	z-index: 9;
	height: 518px;
	width: 100%;
}

#u5101
{
	z-index: 10;
	border-width: 0px;
	border-color: transparent;
	background-color: #303030;
	margin-right: -10000px;
	position: relative;
	width: 100%;
}

#u5200
{
	z-index: 11;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u5097
{
	z-index: 13;
	border-width: 0px;
	border-color: transparent;
	background-color: #303030;
	padding-bottom: 1px;
	margin-right: -10000px;
	position: relative;
	width: 100%;
}

#u5210
{
	z-index: 14;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 99.9%;
}

#u5105
{
	z-index: 16;
	border-width: 0px;
	border-color: transparent;
	background-color: #303030;
	margin-right: -10000px;
	position: relative;
	width: 100%;
}

#u5220
{
	z-index: 17;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u5200_img,#u5210_img,#u5220_img
{
	width: 100%;
}

#u5111
{
	z-index: 5;
	margin-top: 28px;
	position: relative;
	width: 19.24%;
	margin-left: 40.33%;
}

#u5112
{
	position: absolute;
	height: 11px;
	border-width: 0px;
	border-color: transparent;
	background-color: #7F7F7F;
	width: 100%;
}

#u5112:hover
{
	border-style: solid;
	border-width: 1px;
	border-color: #6B6B6B;
	background-color: #7F7F7F;
	height: 11px;
	min-height: 0px;
	width: 100%;
	margin: -1px -1px -1px -3.571428571428571%;
}

#u5112:active
{
	border-style: solid;
	border-width: 1px;
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	height: 11px;
	min-height: 0px;
	width: 100%;
	margin: -1px -1px -1px -3.571428571428571%;
}

#u5112.PamphletThumbSelected
{
	border-style: solid;
	border-width: 1px;
	border-color: #7F7F7F;
	background-color: #666666;
	height: 11px;
	min-height: 0px;
	width: 100%;
	margin: -1px -1px -1px -3.571428571428571%;
}

#u5112popup
{
	height: 11px;
	margin-right: -10000px;
	width: 15.82%;
}

#u5116
{
	position: absolute;
	height: 11px;
	border-width: 0px;
	border-color: transparent;
	background-color: #7F7F7F;
	width: 100%;
}

#u5116:hover
{
	border-style: solid;
	border-width: 1px;
	border-color: #6B6B6B;
	background-color: #7F7F7F;
	height: 11px;
	min-height: 0px;
	width: 100%;
	margin: -1px -1px -1px -3.4482758620689653%;
}

#u5116:active
{
	border-style: solid;
	border-width: 1px;
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	height: 11px;
	min-height: 0px;
	width: 100%;
	margin: -1px -1px -1px -3.4482758620689653%;
}

#u5116.PamphletThumbSelected
{
	border-style: solid;
	border-width: 1px;
	border-color: #666666;
	background-color: #666666;
	height: 11px;
	min-height: 0px;
	width: 100%;
	margin: -1px -1px -1px -3.4482758620689653%;
}

#u5116popup
{
	height: 11px;
	margin-right: -10000px;
	width: 16.39%;
	margin-left: 41.25%;
}

#u5114
{
	position: absolute;
	height: 11px;
	border-width: 0px;
	border-color: transparent;
	background-color: #7F7F7F;
	width: 100%;
}

#u5114:hover
{
	border-style: solid;
	border-width: 1px;
	border-color: #6B6B6B;
	background-color: #7F7F7F;
	height: 11px;
	min-height: 0px;
	width: 100%;
	margin: -1px -1px -1px -3.4482758620689653%;
}

#u5114:active
{
	border-style: solid;
	border-width: 1px;
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	height: 11px;
	min-height: 0px;
	width: 100%;
	margin: -1px -1px -1px -3.4482758620689653%;
}

#u5114.PamphletThumbSelected
{
	border-style: solid;
	border-width: 1px;
	border-color: #7F7F7F;
	background-color: #666666;
	height: 11px;
	min-height: 0px;
	width: 100%;
	margin: -1px -1px -1px -3.4482758620689653%;
}

#u5114popup
{
	height: 11px;
	margin-right: -10000px;
	width: 16.39%;
	margin-left: 83.62%;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#buttonu6648
{
	z-index: 26;
	border-color: #787878;
	background-color: #E86559;
	border-radius: 10px;
	padding-bottom: 2px;
	margin-top: 38px;
	position: relative;
	width: 29.69%;
	margin-left: 35.11%;
}

#buttonu6648.ButtonSelected
{
	background-color: #E86559;
	min-height: 0px;
	width: 29.69%;
	margin: 38px 0px 0px 35.104166666666664%;
}

#u6649-4
{
	z-index: 27;
	min-height: 39px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	width: 100%;
}

#buttonu6648.ButtonSelected #u6649-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 39px;
	width: 100%;
	margin: 10px -10000px 0px 0%;
}

.css_verticalspacer .verticalspacer
{
	height: calc(100vh - 986px);
}

#u6654-13
{
	z-index: 31;
	min-height: 55px;
	background-color: transparent;
	margin-bottom: -147px;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	width: 87.92%;
	left: 6.15%;
}

#u6654-2
{
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
}

#u6654-3,#u6654-8,#u6654-9,#u6654-11
{
	text-align: justify;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
	padding-bottom: 180px;
}

.verticalspacer
{
	min-height: 1px;
}

