.version.pilih_jam_kerja_pagi_afiat /* version checker */
{
	color: #00001E;
	background-color: #AF40B5;
}

#page
{
	z-index: 1;
	min-height: 438px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#u6042
{
	z-index: 3;
	min-height: 82px;
	background-color: #2E82AF;
	padding-bottom: 18px;
}

#u6042_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	max-width: 960px;
}

#u6017
{
	z-index: 107;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	width: 20.11%;
	left: 2.09%;
}

#u6017_img
{
	width: 100%;
}

#buttonu6548
{
	z-index: 114;
	border-color: #787878;
	background-color: #666666;
	border-radius: 10px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	width: 15.94%;
	left: 64.48%;
}

#u6549-4
{
	z-index: 115;
	min-height: 18px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	width: 77.78%;
	left: 11.12%;
}

#buttonu6546
{
	z-index: 109;
	border-color: #787878;
	background-color: #666666;
	border-radius: 10px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	width: 15.94%;
	left: 81.98%;
}

#buttonu6548:hover,#buttonu6546:hover
{
	background-color: #141414;
	min-height: 0px;
	width: 15.94%;
	margin: 32px -10000px 0px 0%;
}

#u6547-4
{
	z-index: 110;
	min-height: 18px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	width: 77.78%;
	left: 11.12%;
}

#buttonu6548:hover #u6549-4,#buttonu6546:hover #u6547-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 77.78%;
	margin: 9px -10000px 0px 0%;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u6042-bw
{
	z-index: 3;
	min-height: 82px;
}

#u6030
{
	z-index: 2;
	background-color: #F5F5F5;
	padding-bottom: 79px;
	position: relative;
	width: 95.84%;
	margin-left: 2.09%;
}

#pu6039-4
{
	z-index: 4;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 41px;
	width: 42.07%;
	margin-left: 9.46%;
}

#u6039-4
{
	z-index: 4;
	min-height: 34px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	width: 71.32%;
}

#u6021-4
{
	z-index: 8;
	min-height: 27px;
	background-color: transparent;
	margin-top: 7px;
	position: relative;
	width: 98.97%;
}

#pbuttonu6031
{
	z-index: 12;
	margin-top: 16px;
	width: 100%;
}

#buttonu6031
{
	z-index: 12;
	border-color: #787878;
	background-color: #666666;
	border-radius: 10px;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
	width: 28.69%;
}

#u6032-4
{
	z-index: 13;
	min-height: 9px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	width: 100%;
}

#buttonu6015
{
	z-index: 17;
	border-color: #787878;
	background-color: #666666;
	border-radius: 10px;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
	width: 28.69%;
	left: 35.66%;
}

#u6016-4
{
	z-index: 18;
	min-height: 9px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	width: 100%;
}

#buttonu6033
{
	z-index: 22;
	border-color: #787878;
	background-color: #666666;
	border-radius: 10px;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
	width: 28.69%;
	left: 71.32%;
}

#u6034-4
{
	z-index: 23;
	min-height: 9px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	width: 100%;
}

#pbuttonu6053
{
	z-index: 37;
	margin-top: 15px;
	width: 100%;
}

#buttonu6053
{
	z-index: 37;
	border-color: #787878;
	background-color: #666666;
	border-radius: 10px;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
	width: 28.69%;
}

#u6054-4
{
	z-index: 38;
	min-height: 9px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	width: 100%;
}

#buttonu6051
{
	z-index: 42;
	border-color: #787878;
	background-color: #666666;
	border-radius: 10px;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
	width: 28.69%;
	left: 35.66%;
}

#u6052-4
{
	z-index: 43;
	min-height: 9px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	width: 100%;
}

#buttonu6049
{
	z-index: 47;
	border-color: #787878;
	background-color: #666666;
	border-radius: 10px;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
	width: 28.69%;
	left: 71.32%;
}

#u6050-4
{
	z-index: 48;
	min-height: 9px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	width: 100%;
}

#pbuttonu6013
{
	z-index: 62;
	margin-top: 15px;
	width: 100%;
}

#buttonu6013
{
	z-index: 62;
	border-color: #787878;
	background-color: #666666;
	border-radius: 10px;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
	width: 28.69%;
}

#u6014-4
{
	z-index: 63;
	min-height: 9px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	width: 100%;
}

#buttonu6022
{
	z-index: 67;
	border-color: #787878;
	background-color: #666666;
	border-radius: 10px;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
	width: 28.69%;
	left: 35.66%;
}

#u6023-4
{
	z-index: 68;
	min-height: 9px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	width: 100%;
}

#buttonu6019
{
	z-index: 72;
	border-color: #787878;
	background-color: #666666;
	border-radius: 10px;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
	width: 28.69%;
	left: 71.32%;
}

#u6020-4
{
	z-index: 73;
	min-height: 9px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	width: 100%;
}

#pbuttonu6055
{
	z-index: 87;
	margin-top: 15px;
	width: 100%;
}

#buttonu6055
{
	z-index: 87;
	border-color: #787878;
	background-color: #666666;
	border-radius: 10px;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
	width: 28.69%;
}

#u6056-4
{
	z-index: 88;
	min-height: 9px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	width: 100%;
}

#buttonu6040
{
	z-index: 92;
	border-color: #787878;
	background-color: #666666;
	border-radius: 10px;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
	width: 28.69%;
	left: 35.66%;
}

#u6041-4
{
	z-index: 93;
	min-height: 9px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	width: 100%;
}

#buttonu6047
{
	z-index: 97;
	border-color: #787878;
	background-color: #666666;
	border-radius: 10px;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
	width: 28.69%;
	left: 71.32%;
}

#buttonu6031:hover,#buttonu6015:hover,#buttonu6033:hover,#buttonu6053:hover,#buttonu6051:hover,#buttonu6049:hover,#buttonu6013:hover,#buttonu6022:hover,#buttonu6019:hover,#buttonu6055:hover,#buttonu6040:hover,#buttonu6047:hover
{
	background-color: #141414;
	min-height: 0px;
	width: 28.69%;
	margin: 0px -10000px 0px 0%;
}

#u6048-4
{
	z-index: 98;
	min-height: 9px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	width: 100%;
}

#pbuttonu6037
{
	z-index: 27;
	margin-right: -10000px;
	margin-top: 125px;
	width: 12.07%;
	margin-left: 54.46%;
}

#buttonu6037
{
	z-index: 27;
	border-color: #787878;
	background-color: #666666;
	border-radius: 10px;
	padding-bottom: 21px;
	position: relative;
	width: 100%;
}

#u6038-4
{
	z-index: 28;
	min-height: 9px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	width: 100%;
}

#buttonu6045
{
	z-index: 52;
	border-color: #787878;
	background-color: #666666;
	border-radius: 10px;
	padding-bottom: 21px;
	margin-top: 15px;
	position: relative;
	width: 100%;
}

#u6046-4
{
	z-index: 53;
	min-height: 9px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	width: 100%;
}

#buttonu6026
{
	z-index: 77;
	border-color: #787878;
	background-color: #666666;
	border-radius: 10px;
	padding-bottom: 21px;
	margin-top: 15px;
	position: relative;
	width: 100%;
}

#u6027-4
{
	z-index: 78;
	min-height: 9px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	width: 100%;
}

#buttonu6035
{
	z-index: 102;
	border-color: #787878;
	background-color: #666666;
	border-radius: 10px;
	padding-bottom: 21px;
	margin-top: 16px;
	position: relative;
	width: 100%;
}

#buttonu6035:hover
{
	background-color: #141414;
	min-height: 0px;
	width: 100%;
	margin: 16px 0px 0px 0%;
}

#u6036-4
{
	z-index: 103;
	min-height: 9px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	width: 100%;
}

#pbuttonu6028
{
	z-index: 32;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 125px;
	width: 12.07%;
	margin-left: 69.46%;
}

#buttonu6028
{
	z-index: 32;
	border-color: #787878;
	background-color: #666666;
	border-radius: 10px;
	padding-bottom: 21px;
	position: relative;
	width: 100%;
}

#buttonu6037:hover,#buttonu6028:hover
{
	background-color: #141414;
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u6029-4
{
	z-index: 33;
	min-height: 9px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	width: 100%;
}

#buttonu6024
{
	z-index: 57;
	border-color: #787878;
	background-color: #666666;
	border-radius: 10px;
	padding-bottom: 21px;
	margin-top: 15px;
	position: relative;
	width: 100%;
}

#u6025-4
{
	z-index: 58;
	min-height: 9px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	width: 100%;
}

#buttonu6043
{
	z-index: 82;
	border-color: #787878;
	background-color: #666666;
	border-radius: 10px;
	padding-bottom: 21px;
	margin-top: 15px;
	position: relative;
	width: 100%;
}

#buttonu6045:hover,#buttonu6026:hover,#buttonu6024:hover,#buttonu6043:hover
{
	background-color: #141414;
	min-height: 0px;
	width: 100%;
	margin: 15px 0px 0px 0%;
}

#u6044-4
{
	z-index: 83;
	min-height: 9px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	width: 100%;
}

#buttonu6031:hover #u6032-4,#buttonu6015:hover #u6016-4,#buttonu6033:hover #u6034-4,#buttonu6053:hover #u6054-4,#buttonu6051:hover #u6052-4,#buttonu6049:hover #u6050-4,#buttonu6013:hover #u6014-4,#buttonu6022:hover #u6023-4,#buttonu6019:hover #u6020-4,#buttonu6055:hover #u6056-4,#buttonu6040:hover #u6041-4,#buttonu6047:hover #u6048-4,#buttonu6037:hover #u6038-4,#buttonu6045:hover #u6046-4,#buttonu6026:hover #u6027-4,#buttonu6035:hover #u6036-4,#buttonu6028:hover #u6029-4,#buttonu6024:hover #u6025-4,#buttonu6043:hover #u6044-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 9px;
	width: 100%;
	margin: 21px -10000px 0px 0%;
}

#buttonu6548:hover #u6549-4 p,#buttonu6546:hover #u6547-4 p,#buttonu6031:hover #u6032-4 p,#buttonu6015:hover #u6016-4 p,#buttonu6033:hover #u6034-4 p,#buttonu6053:hover #u6054-4 p,#buttonu6051:hover #u6052-4 p,#buttonu6049:hover #u6050-4 p,#buttonu6013:hover #u6014-4 p,#buttonu6022:hover #u6023-4 p,#buttonu6019:hover #u6020-4 p,#buttonu6055:hover #u6056-4 p,#buttonu6040:hover #u6041-4 p,#buttonu6047:hover #u6048-4 p,#buttonu6037:hover #u6038-4 p,#buttonu6045:hover #u6046-4 p,#buttonu6026:hover #u6027-4 p,#buttonu6035:hover #u6036-4 p,#buttonu6028:hover #u6029-4 p,#buttonu6024:hover #u6025-4 p,#buttonu6043:hover #u6044-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

.css_verticalspacer .verticalspacer
{
	height: calc(100vh - 646px);
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

