.version.pilih_jam_kerja_malam /* version checker */
{
	color: #0000FC;
	background-color: #D93A0F;
}

#page
{
	z-index: 1;
	min-height: 438px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#u5536
{
	z-index: 3;
	min-height: 82px;
	background-color: #2E82AF;
	padding-bottom: 18px;
}

#u5536_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	max-width: 960px;
}

#u5557
{
	z-index: 107;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	width: 20.11%;
	left: 2.09%;
}

#u5557_img
{
	width: 100%;
}

#buttonu6618
{
	z-index: 109;
	border-color: #787878;
	background-color: #666666;
	border-radius: 10px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	width: 15.94%;
	left: 81.98%;
}

#buttonu6618:hover
{
	background-color: #141414;
	min-height: 0px;
	width: 15.94%;
	margin: 32px -10000px 0px 0%;
}

#u6619-4
{
	z-index: 110;
	min-height: 18px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	width: 77.78%;
	left: 11.12%;
}

#buttonu6618:hover #u6619-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 77.78%;
	margin: 9px -10000px 0px 0%;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u5536-bw
{
	z-index: 3;
	min-height: 82px;
}

#u5556
{
	z-index: 2;
	background-color: #F5F5F5;
	padding-bottom: 79px;
	position: relative;
	width: 95.84%;
	margin-left: 2.09%;
}

#pu5531-4
{
	z-index: 4;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 41px;
	width: 42.07%;
	margin-left: 9.46%;
}

#u5531-4
{
	z-index: 4;
	min-height: 34px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	width: 71.32%;
}

#u5551-4
{
	z-index: 8;
	min-height: 27px;
	background-color: transparent;
	margin-top: 7px;
	position: relative;
	width: 98.97%;
}

#pbuttonu5521
{
	z-index: 12;
	margin-top: 16px;
	width: 100%;
}

#buttonu5521
{
	z-index: 12;
	border-color: #787878;
	background-color: #666666;
	border-radius: 10px;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
	width: 28.69%;
}

#u5522-4
{
	z-index: 13;
	min-height: 9px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	width: 100%;
}

#buttonu5537
{
	z-index: 17;
	border-color: #787878;
	background-color: #666666;
	border-radius: 10px;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
	width: 28.69%;
	left: 35.66%;
}

#u5538-4
{
	z-index: 18;
	min-height: 9px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	width: 100%;
}

#buttonu5547
{
	z-index: 22;
	border-color: #787878;
	background-color: #666666;
	border-radius: 10px;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
	width: 28.69%;
	left: 71.32%;
}

#u5548-4
{
	z-index: 23;
	min-height: 9px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	width: 100%;
}

#pbuttonu5515
{
	z-index: 37;
	margin-top: 15px;
	width: 100%;
}

#buttonu5515
{
	z-index: 37;
	border-color: #787878;
	background-color: #666666;
	border-radius: 10px;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
	width: 28.69%;
}

#u5516-4
{
	z-index: 38;
	min-height: 9px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	width: 100%;
}

#buttonu5532
{
	z-index: 42;
	border-color: #787878;
	background-color: #666666;
	border-radius: 10px;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
	width: 28.69%;
	left: 35.66%;
}

#u5533-4
{
	z-index: 43;
	min-height: 9px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	width: 100%;
}

#buttonu5549
{
	z-index: 47;
	border-color: #787878;
	background-color: #666666;
	border-radius: 10px;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
	width: 28.69%;
	left: 71.32%;
}

#u5550-4
{
	z-index: 48;
	min-height: 9px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	width: 100%;
}

#pbuttonu5539
{
	z-index: 62;
	margin-top: 15px;
	width: 100%;
}

#buttonu5539
{
	z-index: 62;
	border-color: #787878;
	background-color: #666666;
	border-radius: 10px;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
	width: 28.69%;
}

#u5540-4
{
	z-index: 63;
	min-height: 9px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	width: 100%;
}

#buttonu5543
{
	z-index: 67;
	border-color: #787878;
	background-color: #666666;
	border-radius: 10px;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
	width: 28.69%;
	left: 35.66%;
}

#u5544-4
{
	z-index: 68;
	min-height: 9px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	width: 100%;
}

#buttonu5534
{
	z-index: 72;
	border-color: #787878;
	background-color: #666666;
	border-radius: 10px;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
	width: 28.69%;
	left: 71.32%;
}

#u5535-4
{
	z-index: 73;
	min-height: 9px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	width: 100%;
}

#pbuttonu5527
{
	z-index: 87;
	margin-top: 15px;
	width: 100%;
}

#buttonu5527
{
	z-index: 87;
	border-color: #787878;
	background-color: #666666;
	border-radius: 10px;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
	width: 28.69%;
}

#u5528-4
{
	z-index: 88;
	min-height: 9px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	width: 100%;
}

#buttonu5552
{
	z-index: 92;
	border-color: #787878;
	background-color: #666666;
	border-radius: 10px;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
	width: 28.69%;
	left: 35.66%;
}

#u5553-4
{
	z-index: 93;
	min-height: 9px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	width: 100%;
}

#buttonu5519
{
	z-index: 97;
	border-color: #787878;
	background-color: #666666;
	border-radius: 10px;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
	width: 28.69%;
	left: 71.32%;
}

#buttonu5521:hover,#buttonu5537:hover,#buttonu5547:hover,#buttonu5515:hover,#buttonu5532:hover,#buttonu5549:hover,#buttonu5539:hover,#buttonu5543:hover,#buttonu5534:hover,#buttonu5527:hover,#buttonu5552:hover,#buttonu5519:hover
{
	background-color: #141414;
	min-height: 0px;
	width: 28.69%;
	margin: 0px -10000px 0px 0%;
}

#u5520-4
{
	z-index: 98;
	min-height: 9px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	width: 100%;
}

#pbuttonu5529
{
	z-index: 27;
	margin-right: -10000px;
	margin-top: 125px;
	width: 12.07%;
	margin-left: 54.46%;
}

#buttonu5529
{
	z-index: 27;
	border-color: #787878;
	background-color: #666666;
	border-radius: 10px;
	padding-bottom: 21px;
	position: relative;
	width: 100%;
}

#u5530-4
{
	z-index: 28;
	min-height: 9px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	width: 100%;
}

#buttonu5525
{
	z-index: 52;
	border-color: #787878;
	background-color: #666666;
	border-radius: 10px;
	padding-bottom: 21px;
	margin-top: 15px;
	position: relative;
	width: 100%;
}

#u5526-4
{
	z-index: 53;
	min-height: 9px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	width: 100%;
}

#buttonu5541
{
	z-index: 77;
	border-color: #787878;
	background-color: #666666;
	border-radius: 10px;
	padding-bottom: 21px;
	margin-top: 15px;
	position: relative;
	width: 100%;
}

#u5542-4
{
	z-index: 78;
	min-height: 9px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	width: 100%;
}

#buttonu5545
{
	z-index: 102;
	border-color: #787878;
	background-color: #666666;
	border-radius: 10px;
	padding-bottom: 21px;
	margin-top: 16px;
	position: relative;
	width: 100%;
}

#buttonu5545:hover
{
	background-color: #141414;
	min-height: 0px;
	width: 100%;
	margin: 16px 0px 0px 0%;
}

#u5546-4
{
	z-index: 103;
	min-height: 9px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	width: 100%;
}

#pbuttonu5517
{
	z-index: 32;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 125px;
	width: 12.07%;
	margin-left: 69.46%;
}

#buttonu5517
{
	z-index: 32;
	border-color: #787878;
	background-color: #666666;
	border-radius: 10px;
	padding-bottom: 21px;
	position: relative;
	width: 100%;
}

#buttonu5529:hover,#buttonu5517:hover
{
	background-color: #141414;
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u5518-4
{
	z-index: 33;
	min-height: 9px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	width: 100%;
}

#buttonu5554
{
	z-index: 57;
	border-color: #787878;
	background-color: #666666;
	border-radius: 10px;
	padding-bottom: 21px;
	margin-top: 15px;
	position: relative;
	width: 100%;
}

#u5555-4
{
	z-index: 58;
	min-height: 9px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	width: 100%;
}

#buttonu5523
{
	z-index: 82;
	border-color: #787878;
	background-color: #666666;
	border-radius: 10px;
	padding-bottom: 21px;
	margin-top: 15px;
	position: relative;
	width: 100%;
}

#buttonu5525:hover,#buttonu5541:hover,#buttonu5554:hover,#buttonu5523:hover
{
	background-color: #141414;
	min-height: 0px;
	width: 100%;
	margin: 15px 0px 0px 0%;
}

#u5524-4
{
	z-index: 83;
	min-height: 9px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	width: 100%;
}

#buttonu5521:hover #u5522-4,#buttonu5537:hover #u5538-4,#buttonu5547:hover #u5548-4,#buttonu5515:hover #u5516-4,#buttonu5532:hover #u5533-4,#buttonu5549:hover #u5550-4,#buttonu5539:hover #u5540-4,#buttonu5543:hover #u5544-4,#buttonu5534:hover #u5535-4,#buttonu5527:hover #u5528-4,#buttonu5552:hover #u5553-4,#buttonu5519:hover #u5520-4,#buttonu5529:hover #u5530-4,#buttonu5525:hover #u5526-4,#buttonu5541:hover #u5542-4,#buttonu5545:hover #u5546-4,#buttonu5517:hover #u5518-4,#buttonu5554:hover #u5555-4,#buttonu5523:hover #u5524-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 9px;
	width: 100%;
	margin: 21px -10000px 0px 0%;
}

#buttonu6618:hover #u6619-4 p,#buttonu5521:hover #u5522-4 p,#buttonu5537:hover #u5538-4 p,#buttonu5547:hover #u5548-4 p,#buttonu5515:hover #u5516-4 p,#buttonu5532:hover #u5533-4 p,#buttonu5549:hover #u5550-4 p,#buttonu5539:hover #u5540-4 p,#buttonu5543:hover #u5544-4 p,#buttonu5534:hover #u5535-4 p,#buttonu5527:hover #u5528-4 p,#buttonu5552:hover #u5553-4 p,#buttonu5519:hover #u5520-4 p,#buttonu5529:hover #u5530-4 p,#buttonu5525:hover #u5526-4 p,#buttonu5541:hover #u5542-4 p,#buttonu5545:hover #u5546-4 p,#buttonu5517:hover #u5518-4 p,#buttonu5554:hover #u5555-4 p,#buttonu5523:hover #u5524-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

.css_verticalspacer .verticalspacer
{
	height: calc(100vh - 646px);
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

