.bg-1 {
  background-color: #c5ff7eff;
}

.bg-2 {
  background-color: #ceceffff;
}

.bg-3 {
  background-color: #ffc3c3ff;
}

.bg-4 {
  background-color: #e7e7e7ff;
}

.bg-5 {
  background-color: #6cf482ff;
}

.bg-6 {
  background-color: #6af3cfff;
}

.bg-7 {
  background-color: #e5f59d;
}

.bg-8 {
  background-color: lightblue;
}

.bg-9 {
  background-color: #ffd4d4;
}